body {
    background-color: #e3f2fd;
    width: 100vw;
    overflow-x: hidden;
}
:root{
    --primary : #6AB0E3;
    --dark :  #6AB0E3;
}

h2{
    font-family: 'MainTitleFont';
    font-size: 80px;
}

h3{
    font-family: 'SubHeadingFont';
    font-size: 20px;
}

.timetable-grid, p{
    font-family: 'BodyTextFont';
    font-size: 24px;
}

.detail-blue-card img {
    width: 100% !important;
    aspect-ratio: 3 / 4; 
    object-fit: cover; 
    display: block;
}

.detail-blue-card {
    background-color: #6AB0E3;
    padding: 20px !important;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar{
    background-color: var(--primary);
    font-family: 'MainTitleFont';
    font-size: 24px;
}

.btn-action {
    background-color: #9CD5FF;
    color: #fff !important;
    font-family: 'MainTitleFont';
    font-size: 24px;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;
    transition: all 0.3s ease;
}

.btn-action:hover {
    background-color: #6AB0E3;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.footer {
    background-color: var(--dark);
}

.footer a {
    color: #ffffff !important;
    font-family: 'MainTitleFont', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block; 
    width: fit-content; 
    transition: all 0.3s ease;
}

.footer a:hover {
    color: #3a3a3a !important;
    padding-left: 10px;
}


.social-link {
    width: 55px !important;
    height: 55px !important;
    background-color: #000;
    color: #fff;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-shrink: 0;
    margin-left: auto;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-link i {
    font-size: 28px !important;
    line-height: 1 !important;
    display: block;
    margin: 0;
}

@media (max-width: 768px) {
    .mobile-scroll {
        flex-wrap: nowrap !important; 
        overflow-x: auto !important; 
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }

    .mobile-scroll::-webkit-scrollbar {
        display: none;
    }

    .mobile-scroll .col-10 {
        flex: 0 0 85% !important; 
        width: 85% !important;
        max-width: 85% !important;
    }
}

@font-face {
    font-family: 'MainTitleFont'; 
    src: url('f3.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'SubHeadingFont';
    src: url('f1.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'BodyTextFont';
    src: url('f2.ttf') format('truetype');
    font-weight: normal;
}